<div id='user'>
  <img src={{user.image_url}} alt="Profile Picture"><h1>{{user.user_name}}</h1>
  <h2>{{user.first_name}} {{user.last_name}}</h2>
  <h3>Projects:</h3>
  <ul>
    {{#each user.projects}}
      <li><a href="/#/projects/{{id}}">{{project_title}}</a></li>
    {{/each}}
  </ul>
  <button id="new-project-button" type="">New Project</button>
    <div class="projectForm">
      <h3>New Project</h3>
        <form id='newProjectForm'>
          <fieldset>
            <label for='projectTitle'>
              <input type='text' name='projectTitle' id='projectTitle'autofocus='true' />
              Project Title
            </label>
            <br>
            <label for='description'>
              <input type='text' name='description' id='description' />
              Description
            </label>
            <br>
            <label for='startDate'>
              <input type='date' name='startDate' id='startDate' />
              Start Date
            </label>
            <br>
            <label for='dueDate'>
              <input type='date' name='dueDate' id='dueDate' />
              Due Date
            </label>
            <br>
            <label for='completionDate'>
              <input type='date' name='completionDate' id='completionDate' />
              Completion Date
            </label>
            <br>
            <label for='completed'>
              <!-- <input type='hidden' name='completed' id='completed' value='false'/> -->
              <input type='checkbox' name='completed' id='completed'/>
              Completed
            </label>
            <br>
            <label for='visible'>
              <input type='checkbox' name='visible' id='visible' checked/>
              Visible
            </label>
          </fieldset>

          <button type='submit'>Submit</button>
        </form>
    </div>
</div>
