<div id='task'>
  <h1>{{task.title}}</h1>
  <h2> Completed: {{task.completed}}</h2>
  <h2> Due Date: {{task.due_date}}</h2>
  <h2> Priority: {{task.priority}}</h2>
  <ul>
    <h3>Subtasks:</h3>
    {{#each task.subtasks}}
      <li><a href="/#/tasks/{{id}}">{{title}}</a></li>
    {{/each}}
    <button id="new-subtask-button">New Subtask</button>
    <div class='new-subtask-form'>
      {{> taskform-partial}}
    </div>
    <h3>Comments:</h3>
    {{#each comments}}
    <li><a href="/#/comments/{{id}}">{{body}}</a></li>
    {{/each}}
    <div class='new-comment-form'>
      {{> commentform-partial}}
    </div>
  </ul>
</div>
