<div id='task'>
  <h1>{{task.title}}</h1>
  <h3>{{task.completed}}</h3>
  <ul>
    <h4>Subtasks:</h4>
    {{#each task.subtasks}}
      <li><a href="/#/tasks/{{id}}">{{title}}</a></li>
    {{/each}}
    <button id="new-subtask-button">New Subtask</button>
    <div class='new-subtask-form'>
      {{> taskform-partial}}
    </div>
    <h4>Comments:</h4>
    {{#each comments}}
    <li><a href="/#/comments/{{id}}">{{body}}</a></li>
    {{/each}}
    <div class='new-comment-form'>
      {{> commentform-partial}}
    </div>
  </ul>
</div>
